body {
    font-family: 'Raleway', sans-serif;
    background-color: #34c9eb;
}

button {
    display: block;
    margin-top: 40px;
    background-color: #008cba;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

button:hover{
    color: white;
    border-color: white;
}